* {
    border: 1px solid pink;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.sidebar-div {
    width: 33%;
}

.content-div {
    width: 67%;
}
