html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}

.main-container {
    display: flex;
    
}

.sidebar-div {
    width: 40%;
    min-width: 350px;
    max-width: 550px;
    height:100vh;
    min-height: 750px;
    overflow: hidden;
    position: relative;
}



.logo-overlay {
    width: 100%;
    height: 150px;
    background: black;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    color: white;
    font-size: 80px;
    position: absolute;
}

.photo-footer {
    font-size: 12px;
    position: absolute;
    top: 875px;
}

.photo-footer a{
    color: #f9fafbb6
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 5px;
    height: 125px;
}


.content-div {
    flex-grow: 1;
    background-color: #f9fafb;
    position: relative;
}

.content-div p {
    margin-left: 40px;
    font-size: 20px;
}

.text-container {
    position: absolute;
    top: 155px;
    margin-right: 45px;
    max-width: 625px;
    min-width: 450px;
}

.form-container {
    position: relative;
    top: 355px;
    background-color: white;
    height: 260px;
    min-width: 450px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.text-banner {
    position: relative;
    top: 20px;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    min-width: 500px;
    margin-left: 40px;
}

.form-inputs p {
    margin: 15px 55px 0px 0px;
}

.form-inputs label {
    font-size: 12px;
    display: block;
    margin-bottom: -4px;
}

.form-inputs input {
    width: 180px;
    height: 1.5em;
    padding-left: 0.4em;
    padding-top: 2px;
    border-radius: 4px;
    border: 1px solid rgb(170, 170, 170)
}

.form-inputs input:hover {
    border: 1px solid #537c37;
}

.form-inputs input:focus {
    border: 1px solid #486932;
}

.button-container {
    position: relative;
    top: 390px;
    margin-left: 40px;
}

button {
    font-family: "Comic Sans MS";
    color: white;
    background-color: #537c37;
    padding: 0.6em 3em 0.7em;
    border: none;
    border-radius: 6px;
    overflow: hidden;
}

button:hover {
    background-color: #486932;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24);
}

.login-container {
    position: relative;
    top: 400px;
}

.login-container p {
    font-size: 14px;
}

.login-container a {color:#537c37}